# Build
#
node_modules
build
*.code-workspace

# Docusaurus
#
.docusaurus
.cache-loader

# Logs
#
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Files
#
.DS_Store
**/*.zip
**/*.bak
**/*.tgz
**/*.gz
!**/.gitkeep
!**/README.md

# Development
#
*.env
*.env.*