# Build
#
node_modules
build

# Docusaurus
#
.docusaurus
.cache-loader

# Logs
#
*.log

# Files
#
.DS_Store
.idea
*.iml
*.code-workspace
.changelog
*.zip
*.bak
*.tgz
*.gz
!**/.gitkeep
!**/README.md

# Development
#
*.env
*.env.*
*.code-workspace